*{
    margin: 0;
    padding: 0;
}
/* font style */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* banner styles */
.banner{
    background-color: #E554731A;
    height: 100vh;
    display: flex;
    align-items: center;
}
.banner-img{
    width: 635px;
    height: 100%;
}
.banner-text{
    width: 50%;
    margin: auto;
}
.banner-title{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-primary{
    background-color: #E55473;
    padding: 20px 43px;
    border: none;
    border-radius: 5px;
    color: white;
}


/* hot deal section */
.hot-deal-container{
    height: 40vh;
    margin-top: 100px;
    padding: 100px;
    background-color: #E554730D;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hot-deal-text{
    width: 40%;
    text-align: center;
}
.hot-deal-detail{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0 10px 0;
}
.hot-deal-img{
    margin-right: 100px;
}

/* Instagram section */
.instagram-container{
    height: 65vh;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}
.insta-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 30px;
}
.insta-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0;
}
.insta-images{
    display: flex;
    gap: 10px;
    padding: 50px 0;
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
}
.insta-img{
    /* width: 242px; */
    width: 25%;
    height: 300px;
    border-radius: 5px;
}
/* latest deal section */
.latest-deals-container{
    width: 80%;
    height: 40vh;
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    margin: auto;
    margin-bottom: 100px;
    margin-top: 150px;
    border: none;
    border-radius: 5px;
    display: flex;
    text-align: center;
    /* align-items: center; */
}
.latest-deals{
    width: 100%;
    margin: auto;
}
.latest-deals-input{
    width: 500px;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.latest-deals-text{
    margin: 10px 0;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
}