*{
    margin: 0;
    padding: 0;
}
/* font style */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* banner styles */
.banner{
    background-color: #E554731A;
    height: 100vh;
    display: flex;
    align-items: center;
}
.banner-img{
    width: 635px;
    height: 90%;
}
.banner-text{
    width: 50%;
    margin: auto;
}
.banner-title{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-primary{
    background-color: #E55473;
    padding: 18px 43px;
    border: none;
    border-radius: 5px;
    color: white;
}

/* featured flowers section */
.featured-container{
    height: 80vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;align-items: center;
    justify-content: center;
}
.featured-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 30px;
    padding-top: 30px;
}
.featured-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 15px 0 40px 0;
}
.featured-flowers{
    display: flex;
    gap: 10px;
}
.featured-images-1{
    width: 350px;
    height: 400px;
    background-color: #A7216226;
    border-radius: 50% 50% 0 0;
}
.featured-images-2{
    width: 350px;
    height: 400px;
    background-color: #0597A026;
    border-radius: 50% 50% 0 0;
}
.featured-images-3{
    width: 350px;
    height: 400px;
    background-color: #477D1126;
    border-radius: 50% 50% 0 0;
}

.featured-img{
    width: 250px;
    height: 300px;
    margin-top: 100px;
    margin-left: 45px;
}
.pink-flower{
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
}

/* hot deal section */
.hot-deal-container{
    height: 40vh;
    margin-top: 100px;
    padding: 100px;
    background-color: #E554730D;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hot-deal-text{
    width: 40%;
    text-align: center;
}
.hot-deal-detail{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0 10px 0;
}
.hot-deal-img{
    margin-right: 100px;
}

/* Instagram section */
.instagram-container{
    height: 65vh;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}
.insta-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 30px;
}
.insta-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0;
}
.insta-images{
    display: flex;
    gap: 10px;
    padding: 50px 0;
}
.insta-img{
    /* width: 242px; */
    width: 25%;
    height: 300px;
    border-radius: 5px;
}
/* latest deal section */
.latest-deals-container{
    width: 80%;
    height: 40vh;
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    margin: auto;
    margin-bottom: 100px;
    margin-top: 150px;
    border: none;
    border-radius: 5px;
    display: flex;
    text-align: center;
    /* align-items: center; */
}
.latest-deals{
    width: 100%;
    margin: auto;
}
.latest-deals-input{
    width: 500px;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.latest-deals-text{
    margin: 10px 0;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
}
/* Bouquet section */
.bouquet-container{
    width: 80%;
    height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0597A026;
    padding: 50px 0;
    margin-bottom: 50px;
}
.bouquet-title{
    font-size: 40px;
    font-weight: 800;
}
.bouquet-text{
    text-align: center;
    margin: 15px 0;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

/* footer section */
.footer-section{
    height: 450px;
    background-color: black;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-title{
    color: white;
    font-size: 48px;
    font-weight: 800;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0;
}
.footer-copyright{
    color: rgba(255, 255, 255, 0.40);
}